services:
  votemonitorapi:
    image: votemonitorapi
    build:
      context: api
      dockerfile: src/Vote.Monitor.Api/Dockerfile
      args:
        - BUILD_CONFIGURATION=Development
        - REVISION=LocalBuild
    container_name: votemonitorapi
    env_file:
      - .env
    ports:
      - "5000:8080"
    depends_on:
      db:
        condition: service_started

  posgress_ui:
    image: dpage/pgadmin4
    restart: always
    container_name: pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: pgadmin@code.com
      PGADMIN_DEFAULT_PASSWORD: pass
    ports:
      - "5050:80"
    depends_on:
      db:
        condition: service_started

  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: docker
      POSTGRES_DB: docker
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "log_statement=all"]
    container_name: postgresql-local
    volumes:
      - db-data:/var/lib/postgresql/data:rw,size=200m

  mailpit:
    image: axllent/mailpit
    container_name: mailpit
    restart: always
    volumes:
      - ./.data:/data
    ports:
      - 8025:8025
      - 1025:1025
    environment:
      MP_MAX_MESSAGES: 5000
      MP_DATA_FILE: /data/mailpit.db
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
  
  hangfire:
    image: votemonitorhangfire
    build:
      context: api
      dockerfile: src/Vote.Monitor.Hangfire/Dockerfile
      args:
        - BUILD_CONFIGURATION=Development
        - REVISION=LocalBuild
    container_name: votemonitorhangfire
    env_file:
      - .env
    ports:
      - "5001:8080"
    depends_on:
      db:
        condition: service_started

  minio:
    image: quay.io/minio/minio:latest
    container_name: minio
    restart: always
    ports:
      - "9000:9000"  # MinIO API port
      - "9001:9001"  # MinIO Console UI
    volumes:
      - minio_data:/data
    env_file:
      - .env
    command: server /data --console-address ":9001"
volumes:
  db-data:
    driver: local
  minio_data:
    driver: local
    
# docker-compose up -d
# docker-compose down
# docker-compose ps
# docker-compose logs
# docker inspect <containerid>  - inspect postgress to get the ip address , la mine ii 172.20.0.2
