name: Build and push image to registry

on:
  push:
    branches:
      - main
    tags:
      - v*

jobs:
  build:
    uses: commitglobal/.github/.github/workflows/build-push-image.yml@main
    with:
      images: commitglobal/votemonitor
      dockerfile: ./src/Vote.Monitor.Api/Dockerfile
      context: ./src
    secrets:
      username: ${{ secrets.DOCKER_HUB_USERNAME }}
      token: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
